.header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSfjRptsO1fdKVWfb9SswNhgzH9ihmjHA2YxdHQMgOSJ1cY4vlar_iwafkUufgGUKgNCc&usqp=CAU");
  background-size: contain;
  background-repeat: no-repeat;
}
