button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: blue;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 15px;
}

button :hover {
  background-color: blue;
  color: aliceblue;
}
