.button {
  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; */
  /* color: blue; */
  border: none;
  color: #fff;
  /* margin-right: 10px;
  border-radius: 5px;
  font-size: 15px; */
}

.button :hover {
  opacity: 0.9;
  cursor: pointer;

  /* background-color: blue;
  color: aliceblue; */
}
